# Server
PORT=3333
NODE_ENV=development

# Postgres (Docker)
POSTGRES_USER=docker
POSTGRES_PASSWORD=senha
POSTGRES_DB=upload_server
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Drizzle
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}